@model MajorProject.Models.Bike

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bike</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BikeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BikeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BikePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BikePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BikeMileage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BikeMileage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BikeImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BikeImage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BikeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
